<% content_for(:page_title, 'Relying Party Certificates') %>
<h1 class="heading-medium">Your Certificates</h1>
<details>
  <summary>Why do I need to provide these?</summary>
  <div class="panel panel-border-narrow">
    <p>
      When making requests to Verify you need to sign your SAML messages. Similarly Verify will sign
      responses that it sends to you. On top of this, assertions containing identity data will be encrypted
      for your service, so that only you can read them.
    </p>
    <p>
      So that we don't have to trust your certificates in our infrastructure for you to test with the
      compliance tool we allow you to tell us which certificates you'll be using when you initialise your
      test run.
    </p>
  </div>
</details>
<%= form_for @certificates_form do |f| %>
  <div class="form-group">
    <%= f.label :signing_cert, 'Signing Certificate', class: 'form-label' %>
    <span class="form-hint">Base64 encoded X509 signing certificate for your service</span>
    <%= f.text_area :signing_cert, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :encryption_cert, 'Encryption Certificate', class: 'form-label' %>
    <span class="form-hint">Base64 encoded X509 encryption certificate for your service</span>
    <%= f.text_area :encryption_cert, class: 'form-control' %>
  </div>
  <%= f.submit 'Next', class: 'button' %>
<% end %>
