<% content_for(:page_title, 'Relying Party ID') %>
<h1 class="heading-medium">About your Relying Party</h1>

<%= form_for @id_form do |f| %>
  <div class="form-group">
    <%= f.label :entity_id, 'Entity ID', class: 'form-label' %>
    <span class="form-hint">This identifies your service to the rest of the federation</span>
    <%= f.text_field :entity_id, class: 'form-control' %>
    <details>
      <summary>More about Entity ID</summary>
      <div class="panel panel-border-narrow">
        <p>Every party in the federation has an entity ID. For example, the Verify hub's entity ID is <code>https://signin.service.gov.uk</code>.</p>
        <p>By convention entity IDs are URLs (although there's no technical reason why this needs to be the case)</p>
        <p>You should make your entity ID somewhat descriptive of your service, so if we see problems with it in the logs we know who to talk to.</p>
        <p>Each service must have a unique entity ID (for example if you have multiple test environments each one must use a different entity ID)</p>
      </div>
    </details>
  </div>

  <div class="form-group">
    <%= f.label :service_url, 'Service URL', class: 'form-label' %>
    <span class="form-hint">This will consume responses from the GOV.UK Verify hub</span>
    <%= f.text_field :service_url, class: 'form-control' %>
    <details>
      <summary>More about Service URL</summary>
      <div class="panel panel-border-narrow">
        <p>In SAML speak this is your <code>AssertionConsumerService Location</code>, it's the URL the compliance tool
        will POST the SAML Response to.</p>
      </div>
    </details>
  </div>
  <%= f.submit 'Next', class: 'button' %>
<% end %>