<% content_for(:page_title, 'Relying Party Certificates') %>
<h1 class="heading-medium">Your Certificates</h1>
<details>
  <summary>Why do I need to provide these?</summary>
  <div class="panel panel-border-narrow">
    <p>
      When making requests to Verify you need to sign your SAML messages. Similarly Verify will sign
      responses that it sends to you. On top of this, assertions containing identity data will be encrypted
      for your service, so that only you can read them.
    </p>
    <p>
      So that we don't have to trust your certificates in our infrastructure for you to test with the
      compliance tool we allow you to tell us which certificates you'll be using when you initialise your
      test run.
    </p>
  </div>
</details>
<details>
  <summary>How should they be formatted?</summary>
  <div class="panel panel-border-narrow">
    <p>
    Your certificates should be 
    <a href="https://en.wikipedia.org/wiki/Privacy-enhanced_Electronic_Mail#Sample_PEM_format_x_509_cert">PEM encoded</a>
    <a href="https://en.wikipedia.org/wiki/X.509#Certificates">X509 certificates</a>.
    </p>
    <p>They should look something like this:</p>
    <pre>
    <code>
-----BEGIN CERTIFICATE-----
MIIEczCCA1ugAwIBAgIBADANBgkqhkiG9w0BAQQFAD
... snip ...
7vQMfXdGsRrXNGRGnX+vWDZ3/zWI0joDtCkNnqEpVn
-----END CERTIFICATE-----
    </code>
    </pre>
    <p>
      Note that the message we send to the compliance tool does not include the 
      BEGIN or END headers, and has the whitespace stripped out. You can also provide
      certificates in this format if you prefer.
    </p>
  </div>
</details>
<%= form_for @certificates_form do |f| %>
  <div class="form-group">
    <%= f.label :signing_cert, 'Signing Certificate', class: 'form-label' %>
    <span class="form-hint">Base64 encoded X509 signing certificate for your service</span>
    <%= f.text_area :signing_cert, class: 'form-control certificate' %>
    <% unless @certificates_form.errors[:signing_cert].empty? %>
      <div class="form-error">Signing Certificate should be PEM encoded.</div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :encryption_cert, 'Encryption Certificate', class: 'form-label' %>
    <span class="form-hint">Base64 encoded X509 encryption certificate for your service</span>
    <%= f.text_area :encryption_cert, class: 'form-control certificate' %>
    <% unless @certificates_form.errors[:encryption_cert].empty? %>
      <div class="form-error">Encryption Certificate should be PEM encoded.</div>
    <% end %>
  </div>
  <%= f.submit 'Next', class: 'button' %>
<% end %>
