<% content_for(:page_title, 'Relying Party Matching Service') %>
<h1 class="heading-medium">Stubbing your Matching Service</h1>
<details>
  <summary>Why do I need to provide these?</summary>
  <div class="panel panel-border-narrow">
    <p>
      When Verify sends a Response to your service it's already been through the so-called "Matching Process".
      As part of this process a bit of SAML is signed by your Matching Service.
    </p>
    <p>
      So that it's possible for us to test your service in isolation from your Matching Service you need
      to tell us a few things about it so we can  stub it's behaviour in the compliance tool.
    </p>
  </div>
</details>
<%= form_for @matching_form do |f| %>
  <div class="form-group">
    <%= f.label :expected_pid, 'Expected persistent identifier', class: 'form-label' %>
    <span class="form-hint">The user ID returned by your matching service</span>
    <%= f.text_field :expected_pid, class: 'form-control' %>
    <% unless @matching_form.errors[:expected_pid].empty? %>
      <div class="form-error">Expected persistent identifier cannot be empty</div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :ms_entity_id, 'Matching Service Entity ID', class: 'form-label' %>
    <%= f.text_field :ms_entity_id, class: 'form-control' %>
    <% unless @matching_form.errors[:ms_entity_id].empty? %>
      <div class="form-error">Matching Service Entity ID should be a URL (e.g. https://my-service.gov.uk/some-identifier/ms)</div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :ms_keystore, 'Matching Service Signing Keystore', class: 'form-label' %>
    <span class="form-hint">Base64 encoded .pk8 keystore containing the MSAs signing private key and certificate</span>
    <%= f.text_area :ms_keystore, class: 'form-control keystore' %>
    <% unless @matching_form.errors[:ms_keystore].empty? %>
      <div class="form-error">Matching Service Signing Keystore should be a base64 encoded .pk8 file</div>
    <% end %>
  </div>
  <%= f.submit 'Next', class: 'button' %>
<% end %>