<% content_for(:page_title, 'Initialise Identity Provider Test Run') %>
<h1 class="heading-medium">About your Identity Provider</h1>

<%= form_for @init_form do |f| %>

    <div class="form-group">
      <%= f.label :service_url, 'Service URL', class: 'form-label' %>
      <span class="form-hint">This will consume responses from the GOV.UK Verify hub</span>
      <%= f.text_field :service_url, class: 'form-control' %>
      <% unless @init_form.errors[:service_url].empty? %>
          <div class="form-error">Service URL should be a URL (e.g. https://my-service.gov.uk/SAML2/Response)</div>
      <% end %>
      <details>
        <summary>More about Service URL</summary>
        <div class="panel panel-border-narrow">
          <p>In SAML speak this is your <code>AssertionConsumerService Location</code>, it's the URL the compliance tool
            will POST the SAML Response to.</p>
        </div>
      </details>
    </div>

    <div class="form-group">
      <%= f.label :entity_id, 'Entity ID', class: 'form-label' %>
      <span class="form-hint">This identifies your service to the rest of the federation, if you're not sure then just use your 'Service URL'</span>
      <%= f.text_field :entity_id, class: 'form-control' %>
      <% unless @init_form.errors[:entity_id].empty? %>
          <div class="form-error">Entity ID should be a URL (e.g. https://my-service.gov.uk/some-identifier)</div>
      <% end %>
      <details>
        <summary>More about Entity ID</summary>
        <div class="panel panel-border-narrow">
          <p>Every party in the federation has an entity ID. For example, the Verify hub's entity ID is <code>https://signin.service.gov.uk</code>.</p>
          <p>By convention entity IDs are URLs</p>
          <p>You should make your entity ID somewhat descriptive of your service, so if we see problems with it in the logs we know who to talk to.</p>
          <p>Each service must have a unique entity ID (for example if you have multiple test environments each one must use a different entity ID)</p>
          <p><em>A safe default is to just re-use your 'Service URL'</em></p>
        </div>
      </details>
    </div>

    <div class="form-group">
      <%= f.label :public_cert_file, 'Public Certificate', class: 'form-label' %>
      <span class="form-hint">The certificate used to sign our AuthnRequest to you. Upload a certificate file in PEM format</span>
      <%= f.file_field :public_cert_file %>
      <% unless @init_form.errors[:public_cert_file].empty? %>
          <div class="form-error">Please provide an X509 certificate in PEM format.</div>
      <% end %>
      <details>
        <summary>More about the public certificate</summary>
        <div class="panel panel-border-narrow">
          <p>You should have the corresponding private key so you can verify the signature.</p>
        </div>
      </details>
    </div>

    <div class="form-group">
      <div class="multiple-choice">
        <%= f.check_box :use_exact_comparison_type, checked: true %>
        <%= f.label :use_exact_comparison_type, 'Use exact comparison in AuthnRequest', for: :use_exact_comparison_type %>
      </div>
      <details>
        <summary>More about the exact comparison type</summary>
        <div class="panel panel-border-narrow">
          <p>For your service to be correctly compliant with the SAML specification, this should be on.
            The flag has been provided for compatibility with legacy IDP implementations.</p>
        </div>
      </details>
    </div>

    <%= f.submit 'Next', class: 'button' %>
<% end %>
