<% content_for(:page_title, 'Confirm') %>
<h1 class=heading-medium>Confirm</h1>
<p>Nice one! That's everything you need to test your Relying Party with the Compliance Tool.</p>
<p>
  To initialise your Compliance Tool test we'll POST the following JSON to
  <a href="https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk/rp-test-run/">https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk/rp-test-run/</a>
</p>
<pre class="language-json">
<code>
{
  "rpEntityId": "<%= h cookies.fetch('rp_entity_id') %>",
  "assertionConsumerServiceUrl": "<%= h cookies.fetch('rp_service_url') %>",
  "signingPublicCert":"<%= h cookies.fetch('rp_signing_cert') %>",
  "encryptionPublicCert":"<%= h cookies.fetch('rp_encryption_cert') %>",
  "expectedPID":"<%= h cookies.fetch('rp_expected_pid') %>",
  "matchingServiceEntityId":"<%= h cookies.fetch('rp_matching_service_entity_id') %>",
  "matchingServiceSigningPrivateCert":"<%= h cookies.fetch('rp_matching_service_private_key') %>"
}
</code>
</pre>

<form class="form-group" action="<% confirm_rp_path %>" method="post">
  <br>
  <input class="button" type="submit" value="Submit">
  <%= token_tag %>
</form>